header {
  text-align: center;
  background-color: #F5F5F5;
  padding-left: 10px;
  padding-right: 10px;
 padding-top: 5px;
 
}

.container {
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
 
}

.locImg {
  width: 25px;
}

.schoolResume {
 
  display: grid;
  grid-template-columns: 2fr 4fr;
  margin-left: 60px;
  margin-right: 60px;
  padding-top: 20px;
  text-align: left;
}

h3 {
  margin-left: 60px;
  margin-right: 60px;
  background-color: #F5F5F5;
  text-align: center;
}

.workResume {
 
  display: grid;
  grid-template-columns: 2fr 4fr;
  margin-left: 60px;
  margin-right: 60px;
  padding-top: 20px;
  text-align: left;
}

p {
  margin: 0;
}

.work {
  padding-top: 50px;
  padding-bottom: 30px;
 
}

.ed {
  padding-top: 50px;
  
}

.appContainer {

  display: grid;
  grid-template-columns: 1fr 2fr;

}

.basicContainer
{
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 
 gap: 20px;
}

input {
  display: block;
  background-color: #F5F5F5;
  border-radius: 5px;
  border: none;
  font-size: 17px;
  
}

h2 {
  text-align: center;
}
label {
  font-weight: bold;
}

.educationContainer
{
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 text-align: center;
 
}

.schoolListContainer {
  padding-top: 20px;
  text-align: center;
}

.title {
  font-weight: bold;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 5px;
}

.workContainer
{
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 text-align: center;
 
}

textarea {
  background-color: #F5F5F5;
  border: none;
  width: 100%;
  height: 80px;
  border-radius: 5px;
}

.workListContainer {
  padding-top: 20px;
  text-align: center;
}

.resume {
  box-shadow: 0 0 10px #d8dae6;
  text-align: center;
  padding-right: 5px;
  width: 90%;
}

.resumeContainer {
  padding-top: 30px;
}

.printButton {
  padding-top: 10px;
  
}

.printBack {
  background-color: #d8dae6;
}

.delete {
  background-color: #d8dae6;
}

.edit {
  background-color: #d8dae6;
}

input[type=submit] {
  padding:10px 15px; 
  background-color: #d8dae6; 
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
}

.submitContainer {
  padding-top: 15px;
}